/* style.css */
body {
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
}

.chatbox {
  flex: 1;
  overflow-y: auto;
  padding: 10px;
  background: #FF4D6D;
  background: transparent;
  border: 4px solid #ff4d6d;
  boarder-radius: 20px;
  display: flex;
  flex-direction: column;
}

#chat-form{
  background: #ff4d6d;
}

input{
  background:#ff4d6d;
  color: white;
  border: 0;
}

input::placeholder{
  color: white;
}

.msg {
  margin: 10px 0;
  padding: 8px 12px;
  border-radius: 6px;
  max-width: 75%;
}

.msg.user {
  color: white;
  background: #171A1C;
  align-self: flex-end;
  background: transparent;
  border: 2px solid #ff637f;
  justify-content: flex-end;
}

.msg.assistant {
  background: crimson;
  bakground: transparent;
  color:white;
  align-self: flex-start;
  border: 2px solid #d53e59;
}

form {
  display: flex;
  padding: 10px;
  background: #fff;
}

input[type="text"] {
  flex: 1;
  padding: 8px;
  font-size: 1rem;
}

button {
  padding: 8px 12px;
  font-size: 1rem;
}

.error {
  color: red;
  text-align: center;
  padding: 4px;
}

.typing{
  background: #ff637f !important;
  border: none;
}
